* {
  box-sizing: border-box;
}

form {
  width: 80%;
}

body {
  background: whitesmoke;
}

.add {
  display: block;
  margin: auto;
  background: black;
  color: white;
  font-weight: bolder;
}

.card {
  width: 32%;
  border-radius: 10px;
  padding-bottom: 20px;
  height: 500px;
  margin: 0 5px;
}

.img-container {
  height: 60%;
  display: flex;
  justify-content: center;
}

.card-img {
  width: 70%;
  height: 100%;
}

.delete {
  width: 80%;
  background: black;
  color: white;
  margin: auto;
  border-radius: 10px;
}

.products-container {
  width: 80%;
  margin: auto;
}

.products-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#search {
  background: white;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .card {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
